/*--------------------Header----------------------*/

header{
    height: 50vh;
    background-image:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7))
    ,url("https://images.unsplash.com/photo-1539922631499-09155cc609a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    color:white;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header h1{
    position:relative;
    top:50%;
    left:43%;
}

.navbar{
    position: absolute;
    top:-10%;
    left:60%;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display:inline-block;
    font-size: 20px;
    margin-right:10px;
}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    transition: ease-in 0.3s;
    padding:5px 10px;
}

.navbar ul li a:hover{
    padding:5px 10px;
    background-color: #fff;
    color:#000;
    border-radius: 2px;
}

/*----------------Section------------------*/
.form-section{
    background-color:#d3d3d3;
	padding:0px 0;
	position:relative;
    height:100vh;
    font-family: 'Oxygen', sans-serif;
}
.overlay {
    background: #00000026;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.custom-button {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.8s ease;
    background: #4DA0B0;
	background: -webkit-linear-gradient(to right, #AAFFA9, #11FFBD);
    background: linear-gradient(to right, #AAFFA9, #11FFBD);
}

.custom-button:hover, .custom-button:focus{
	transition: 0.8s ease;
	 letter-spacing: 3px;
	 background: -webkit-linear-gradient(to right, #AAFFA9, #11FFBD);
    background: linear-gradient(to right, #AAFFA9, #11FFBD);
}
.form-box-inner .form-control {
    background: #ffffff8a;
    border: 2px solid #000000;
    box-shadow: none;
}
.form-box-inner .form-control:focus {
    outline:none;
	box-shadow:none;
}
.map-box iframe {
    width: 100%;
    height: 357px;
}
.map-box {
    padding: 5px;
    border-radius: 5px;
}

.heading-title{
    text-align: center;
    margin: 0 auto;
    padding: 60px;
    font-size: 42px;
}
.contact{
	text-align:center;
}
.contact-box{
	 background: #ffffff8a;
	 height: 365px;
	 padding:15px;
}
.contact-box ul li{
	margin-bottom:0px;
	padding:8px;
}
.contact i {
    font-size: 25px;
    color: #f65728;
}
.form-box-inner {
    background: #ffffff8a;
    padding: 15px;
}

/*------------------------Footer--------------------*/
.footer{
    background-color: #2c3e50;
    height:50vh;
    color:white;
    position:relative;
    overflow:hidden;
}

.footer h2{
    color:#2ecc71;
}

.footer p{
    line-height: 30px;
    margin-top: 10px;
}

.form-text{
    font-size: 12px;
    font-weight: 300;
}
#submit-btn{
    color:#7f8c8d;
    cursor:pointer;
}

.footer ion-icon{
    margin-right: 10px;
    margin-top:15px;
    margin-bottom:20px;
    font-size: 30px;
    color:white;
}

.footer ion-icon:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
    color:#2ecc71;
}

form input{
    margin:25px 0;
    background-color:#34495e;
    border:none;
    padding:10px;
    border-radius:100px;
}

.footer div{
    float:left;
    margin-left: 15px;
    margin-top: 20px;
}



.footer-extension{
    color:black;
    height:10vh;
    position:relative;
    background-color: #34495e;
    overflow: hidden;

}

.footer-nav{
    position:relative;
    right:0;
    color:black;
}

.footer ol li{
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 20px;
}

.footer ol li a{
    text-decoration: none;
    color:#fff;
}

.footer ol li a:hover{
    border-bottom: solid #2ecc71 1px;
    color:#2ecc71;
}

.footer-nav li{
    display: inline-block;
}

.footer-nav a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: 300;
    margin-right:50px;
}

.footer-nav a:hover{
    border-bottom: solid #2ecc71 1px;
    color:#2ecc71;
}

.copyright{
    position:relative;
    float:right;
    top:-30px;
    right:10px;
    color:white;
    bottom:-30%;
}