body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  overflow-x: hidden;
}

.login-container{
  margin-top: 10%;
  margin-bottom: 5%;
}

.login-form-2{
  position: relative;
  left:26%;
  padding: 5%;
  background: #808080;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit{
  position: relative;
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  left:26%;
}

.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #808080;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  position: relative;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  left:35%;
}

ul{
  float: right;
  list-style-type: none;
  margin-right: 1%;
}

.navbar{
  position:absolute;
  left:63%;
  bottom:0;
}

.navbar li{
  margin:10px;
  display:inline-block;
}

.navbar li a{
  text-decoration: none;
  color:#fff;
  transition: ease-in 0.3s;
  padding:5px 10px;
}

.navbar li a:hover{
  padding:5px 10px;
  background-color: #fff;
  color:#000;
  border-radius: 2px;
}
