@import url('https://fonts.googleapis.com/css?family=Oxygen');

body{
    overflow-x: hidden;
}
/* Header ************************************************** */

header{
    height: 70vh;
    background-image:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7))
    ,url("https://images.unsplash.com/photo-1560185008-b033106af5c3?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    color:white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin-bottom: 40px;
}

header h1{
    position:relative;
    top:25%;
    left:36%;
}

.navbar{
    position: absolute;
    top:-10%;
    left:60%;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display:inline-block;
    font-size: 20px;
    margin-right:10px;
}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    transition: ease-in 0.3s;
    padding:5px 10px;
}

.navbar ul li a:hover{
    padding:5px 10px;
    background-color: #fff;
    color:#000;
    border-radius: 2px;
}

form{
    position:relative;
    top:40%;
    left:28%;
    border:none;
}

#fname{
    width:40%;
    padding:10px;
    border: none;
}

#submit-btn{
    border:none;
    padding:10px 11px;
}

/*------------------------Section--------------------*/

.demo{padding:45px 0}
.product-grid2{font-family:'Open Sans',sans-serif;position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#3498db;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#404040;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#3498db;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}
/*------------------------Footer--------------------*/
.footer{
    background-color: #2c3e50;
    height:50vh;
    color:white;
    position:relative;
    margin-top: 100px;
    overflow: hidden;
  }
  
  .footer h2{
    color:#2ecc71;
  }
  
  .footer p{
    text-align: left;
    line-height: 30px;
    margin-top: 10px;
  }
  
  .form-text{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    bottom:-20%;
  }

  footer #submit-btn{
    position: absolute;
    right:73%;
    color:#7f8c8d;
    cursor:pointer;
  }

  .footer ion-icon{
    margin-right: 10px;
    margin-top:15px;
    margin-bottom:20px;
    font-size: 30px;
    color:#fff;
    
    display: inline-block;
  }
  
  .footer ion-icon:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
    color:#2ecc71;
  }
  
  footer form input{
    position: absolute;
    bottom:-20px;
    right:90%;
    margin:0 0;
    background-color:#34495e;
    border:none;
    padding:10px;
    border-radius:100px;
  }
  
#subscribe{
  position: absolute;
}

  .footer div{
    margin-left: 15px;
    margin-top: 20px;
  }
  
  .footer-extension{
    color:white;
    height:10vh;
    position:relative;
    background-color: #34495e;
    overflow: hidden;
  }
  
  .footer-nav{
    position:relative;
    bottom:-20%;
    left:3%;
    color:white;
  }
  
  .footer ol li{
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  
  .footer ol li a{
    text-decoration: none;
    color:white;
  }
  
  .footer ol li a:hover{
    border-bottom: solid #2ecc71 1px;
    color:#2ecc71;
  }
  
  .footer-nav li{
    display: inline-block;
  }
  
  .footer-nav a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: 300;
    margin-right:50px;
  }
  
  .footer-nav a:hover{
    border-bottom: solid #2ecc71 1px;
    color:#2ecc71;
  }
  
  .copyright{
    position:relative;
    float:right;
    right:50px;
    color:white;
    bottom:-30%;
  }
