@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oxygen:wght@300;400&display=swap');
/*----------------basics----------------*/
*{
  margin:0;
  padding:0;
  font-family: 'Oxygen', sans-serif;
}

body{
  background-color: rgba(26, 24, 24, 0.979);
}

h1 {
  color: #fff;
  font-size: 4em;
  text-align: left;
  margin-top: 0;
  margin-left: 10%;
  letter-spacing: 0.2em;
  position: relative;
}

header h3{
  letter-spacing: 0.2em;
  position: relative;
  margin-top: 16%;
  margin-left: 10.4%;
  margin-bottom: 2%;
  color:white;
}

/*----------------------Header------------------*/
header{
  overflow:hidden ;
  height:100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-image:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

ul{
  float: right;
  list-style-type: none;
  margin-right: 1%;
}

.navbar{
  position:relative;
  left:49%;
  top:-65%;
  transform: translate(-50%,-50%);
}

.navbar li{
  margin:20px;
  display:inline-block;
}

.navbar li a{
  text-decoration: none;
  color:#fff;
  border-bottom: transparent;
  transition: ease-in 0.3s;
}

.navbar li a:hover{
  border-bottom: white solid 1px;
}

.header-text p{
  position:relative;
  margin-top: 2%;
  margin-left: 10.2%;
  color:white;
  font-size: 25px;
}

/*----------------section-------------*/

.section {
  height:100vh;
  background-color: azure;
  overflow:hidden;
}

.section h2{
  position:relative;
  left:47%;
  margin-top: 5%;
  color:#010;
}

.section-hr{
  margin-left:26%;
  width:50%;
  margin-top:20px;
  border-bottom:#2ecc71 solid 3px;
}

/*------------------------Footer--------------------*/
.footer{
  background-color: #2c3e50;
  height:50vh;
  color:white;
  position:relative;
  overflow:hidden;
}

.footer h2{
  color:#2ecc71;
}

.footer p{
  line-height: 30px;
  margin-top: 10px;
}

.form-text{
  font-size: 12px;
  font-weight: 300;
}
#submit-btn{
  color:#7f8c8d;
  cursor:pointer;
}

.footer ion-icon{
  margin-right: 10px;
  margin-top:15px;
  margin-bottom:20px;
  font-size: 30px;
  color:white;
}

.footer ion-icon:hover{
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
  color:#2ecc71;
}

form input{
  margin:25px 0;
  background-color:#34495e;
  border:none;
  padding:10px;
  border-radius:100px;
}

.footer div{
  float:left;
  margin-left: 15px;
  margin-top: 20px;
}



.footer-extension{
  color:white;
  height:10vh;
  position:relative;
  background-color: #34495e;
}

.footer-nav{
  position:relative;
  bottom:-20%;
  right:65%;
  color:white;
}

.footer ol li{
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer ol li a{
  text-decoration: none;
  color:white;
}

.footer ol li a:hover{
  border-bottom: solid #2ecc71 1px;
  color:#2ecc71;
}

.footer-nav li{
  display: inline-block;
}

.footer-nav a{
  text-decoration: none;
  color:white;
  font-size: 15px;
  font-weight: 300;
  margin-right:50px;
}

.footer-nav a:hover{
  border-bottom: solid #2ecc71 1px;
  color:#2ecc71;
}

.copyright{
  position:relative;
  float:right;
  right:-350px;
  color:white;
  bottom:-30%;
}