@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oxygen:wght@300;400&display=swap');
/*----------------basics----------------*/
*{
  margin:0;
  padding:0;
  font-family: 'Oxygen', sans-serif;
}

body{
  background-color: rgba(26, 24, 24, 0.979);
}

h1 {
  color: #fff;
  font-size: 4em;
  text-align: left;
  margin-top: 0;
  margin-left: 10%;
  letter-spacing: 0.2em;
  position: relative;
}

header h3{
  letter-spacing: 0.2em;
  position: relative;
  margin-top: 16%;
  margin-left: 10.4%;
  margin-bottom: 2%;
  color:white;
}

/*----------------------Header------------------*/
header{
  overflow:hidden ;
  height:100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-image:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) ,
   url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

ul{
  float: right;
  list-style-type: none;
  margin-right: 1%;
}

.navbar{
  position:absolute;
  left:63%;
  bottom:0;
}

.navbar li{
  margin:10px;
  display:inline-block;
}

.navbar li a{
  text-decoration: none;
  color:#fff;
  transition: ease-in 0.3s;
  padding:5px 10px;
}

.navbar li a:hover{
  padding:5px 10px;
  background-color: #fff;
  color:#000;
  border-radius: 2px;
}

.header-text p{
  position:relative;
  margin-top: 2%;
  margin-left: 10.2%;
  color:white;
  font-size: 25px;
}

/*----------------section-------------*/

.section-choose {
  height:100vh;
  background-color:#d3d3d3;
  overflow:hidden;
}

.section-choose h2{
  position:relative;
  left:41%;
  margin-top: 3%;
  color:#010;
}

.card{
  margin-top: 60px;
  margin-left:80px;
  padding:170px 0;
  background-color:beige;
  position:relative;
  border-radius: 5px;
  text-align: center;
  width:10%;
  transition: ease-in-out 0.3s;
}

.card:hover{
  transform:translateY(-15px);
}

.card ion-icon{
  font-size: 50px;
  margin-top: 10px;
  left:40%;
  top:0;
  position:absolute;
}

.card p{
  position:absolute;
  text-align: center;
  left:6px;
  line-height: 30px;
}

.card h3{
  top:25%;
  margin-left: 55px;
  position:absolute;
  text-align: center;
}

.card1 h3{
  margin-left: 65px;
}

.card3 p{
  margin-left: 25px;
}

.card3 h3{
  margin-left: 45px;
}

/*------------------------Property-section--------------------*/

.section-properties{
  background-color: #fff;
  overflow:hidden;
  height: 160vh;
}

.section-properties h2{
  margin:50px;
  text-align: center;
}

.section-properties p{
  position: absolute;
  color:#fff;
  left:50%;
  bottom:0;
  font-size: 25px;
}

.image-grid-cover {
  width: 100%;
  background-size: cover;
  min-height: 400px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 15px;
  transition:ease-in-out 0.2s;
}

.image-grid-cover:hover{
  transform: scale(1.05);
}

.image-grid-clickbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.cover-wrapper {
  font-size: 18px;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0,0,0,.8) 0 1px 0;
  z-index: 21;
  position: relative;
  top: 80px;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}
/*------------------------Partner-section--------------------*/

.section-partner{
  background-color: #fff;
  padding:25px 0;
}

.section-partner h2{
  text-align: center;
  margin-top:70px;
}

.section-partner p{
  text-align: center;
}

.partner-img{
  height:100px;
  width:auto;
  margin:50px 160px;
}

/*------------------------Footer--------------------*/
.footer{
  background-color: #2c3e50;
  height:50vh;
  color:white;
  position:relative;
  overflow:hidden;
}

.footer h2{
  color:#2ecc71;
}

.footer p{
  line-height: 30px;
  margin-top: 10px;
}

.form-text{
  font-size: 12px;
  font-weight: 300;
}
#submit-btn{
  color:#7f8c8d;
  cursor:pointer;
}

.footer ion-icon{
  margin-right: 10px;
  margin-top:15px;
  margin-bottom:20px;
  font-size: 30px;
  color:white;
}

.footer ion-icon:hover{
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
  color:#2ecc71;
}

form input{
  margin:25px 0;
  background-color:#34495e;
  border:none;
  padding:10px;
  border-radius:100px;
}

.footer div{
  float:left;
  margin-left: 15px;
  margin-top: 20px;
}



.footer-extension{
  color:white;
  height:10vh;
  position:relative;
  background-color: #34495e;
}

.footer-nav{
  position:relative;
  bottom:-20%;
  right:65%;
  color:white;
}

.footer ol li{
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer ol li a{
  text-decoration: none;
  color:white;
}

.footer ol li a:hover{
  border-bottom: solid #2ecc71 1px;
  color:#2ecc71;
}

.footer-nav li{
  display: inline-block;
}

.footer-nav a{
  text-decoration: none;
  color:white;
  font-size: 15px;
  font-weight: 300;
  margin-right:50px;
}

.footer-nav a:hover{
  border-bottom: solid #2ecc71 1px;
  color:#2ecc71;
}

.copyright{
  position:relative;
  float:right;
  right:-350px;
  color:white;
  bottom:-30%;
}